<p id="notice"><%= notice %></p>

<p>
  <b>Item:</b>
  <%= @product.item %>
</p>

<p>
  <b>Product image:</b>
  <%= @product.product_image %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
